.App {
  display: flex; 
  justify-content: center;
  
}

button, input[type='submit'] {
    border: 1px solid greenyellow;
    padding: 1px 7px 2px;
    text-rendering: auto;
    background: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 11px system-ui;
    transition: background-color .6s;

    &:active {
        background-color: green;
    }
}

input[type='text'] {
    border: 1px solid greenyellow;
    text-rendering: auto;
    background: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 11px system-ui;
    &:focus {
        border: 1px solid rgb(173, 200, 48) ;
        background-color: white;
        border-radius: 0px;
        outline: 0;
    }
}

.form__wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.component {
    width: 40%;
    border: 1px solid greenyellow;

    &__header {
        display: flex;
        justify-content: center;
        padding: 20px 40px;
        
        display: flex;
        gap: 20px;
        flex-direction: row;
        border-bottom: 1px solid greenyellow;
    }

    &__body {
        min-height: 300px;
    }
}